// Vertical rhythm settings
// ------------------------------------------------
$base-font-size: 16px;
$base-line-height: 20px;

// Common breakpoints
// ------------------------------------------------

// Colour palette
// ------------------------------------------------
$greyBlue: #495867; //rgba(73, 88, 103, 100)
$seaBlue: #577399; //rgba(87, 115, 153, 100)
$skyBlue: #bdd5ea; //rgba(189, 213, 234, 100)
$white: #f7f7ff; //rgba(247, 247, 255, 100)
$red: #fe5f55; //rgba(254, 95, 85, 100)


// Fonts
// ------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$montserrat: 'Montserrat';